*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
}
body {
  height: 100vh;
}
.main {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.nav {
  padding: 3rem 1rem;
  flex-basis: 300px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.project-view {
  margin: 4rem auto;
  padding: 0 2rem;
  background-color: #ffffff;
  width: 1000px;
}
.default-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.projects-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-right: 0;
  gap: 10px;
}
.projects-title > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.default-btn,
.add-project-btn {
  display: flex;
  align-items: center;
}
.default-btn {
  padding: 5px 10px;
  text-align: left;
  gap: 10px;
}
.default-btn:hover,
.add-project-btn:hover {
  background-color: #dde0e5;
}
.active {
  background-color: #dde0e5;
}
.add-project-btn {
  padding: 5px;
}
